@import url('https://fonts.googleapis.com/css?family=Baskervville|Lato|Lora|Open+Sans|Playfair+Display|Roboto|Slabo+27px&display=swap');

html {
  font-size: 85%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, html {
  margin: 0;
  padding: 0;
}
body, html, #root {
  height: 100%;
}
body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
a, input, textarea, button {
  &, &:-webkit-autofill {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
  }
}
a, button {
  text-transform: inherit;
}
a {
  text-decoration: none;
}

.button {
  background-color: black;
  border-radius: 2px;
  color: white;
  padding: 0.3rem 0.6rem;
  margin: 0 0.1rem;
}

$footerHeight: 7.2rem;

.app {
  height: 100%;
}
.app, .slideshow, .main-index, .info-page {
  background-color: #f0f0f0;
}

.slideshow {
  height: 100%;
  position: relative;
  user-select: none;

  // &.is-transitioning {
  //   .slides {
  //     opacity: 0;
  //     left: -20rem;
  //   }
  // }

  .slides {
    position: relative;
    left: 0px;
    transition: opacity 0.5s, left 0.5s;
  }

  .footer {
    height: $footerHeight;
    border-top: 1px solid #f0f0f0;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    font-family: 'Baskervville', serif;
    font-weight: bold;

    @media (max-width: 500px) {
      padding: 1rem;

      & > div {
        font-size: 1.3rem !important;
      }
    }

    @media (min-device-width: 721px) {
      a, .index-button {
        &:hover {
          opacity: 0.7;
        }
      }
    }
    a:hover {
      text-decoration: underline;
    }

    .slideshow-buttons {
      margin-bottom: 1rem;

      .slideshow-button {
        cursor: pointer;
        display: inline-block;
        margin-right: 1rem;
        vertical-align: baseline;
        text-transform: lowercase;
        font-family: 'Baskervville', serif;
        line-height: 1;

        &.active, &:hover {
          font-weight: bold;
        }
        &.active {
          font-size: 1.5rem;
        }

        span {
          opacity: 0.5;
          font-weight: normal;
          margin-left: 2px;
          display: block;
        }
      }
    }
    .index-buttons {
      .index-button {
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid black;
        // background-color: #ccc;
        margin: 0px 2px;
        display: inline-block;
        cursor: pointer;

        &.active {
          background-color: black;
        }

        @media (min-device-width: 721px) {
          &:hover {
            background-color: black;
          }
        }
      }
    }
  }
  .slides {
    height: 100%;
  }

  .preload {
    opacity: 0;
    position: fixed;

    & img {
      width: 1px;
      height: 1px;
    }
  }
}
.slide {
  height: calc(100% - #{$footerHeight});
  display: flex;
  justify-content: center;
  align-items: center;

  &.mode-minimal {
    & {
      padding-top: 0px !important;
      // height: 100%;
    }
    .slide-text {
      display: none;
    }
    .media {
      &, .medium {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
      }

      .medium {
        img, video {
          object-fit: contain !important;
          object-position: center !important;
        }
      }
    }
  }

  .slide-text {
    background-color: white;
  }

  @media (min-width: 801px) {
    &.layout-TlMr, &.layout-TrMl, &.layout-Ml, &.layout-Mr {
      padding-top: 8rem;
      justify-content: flex-end;
      align-items: flex-start;

      .slide-text, .media {
        width: 50%;
      }
      .media {
        height: 100%;
      }
      .slide-text {
        width: 25rem;
        margin: 2rem 0;
      }
      .medium {
        padding: 2rem;
        height: 100%;
        padding-left: 2rem;

        img, video {
          object-fit: contain;
          object-position: left center;
        }
      }
    }
    &.layout-TrMl {
      flex-flow: row-reverse;
      padding-top: 0;

      .medium {
        img, video {
          object-position: right center !important;
        }
      }
    }
    &.layout-TtrMf {
      position: relative;

      .slide-text {
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
      .medium {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;

        img, video {
          object-position: center;
          object-fit: cover;
        }
      }
    }
    &.layout-Ml, &.layout-Mr {
      .slide-text {
        display: none;
      }
      .media {
        width: 70%;
      }
    }

    // &.layout-TlMr, &.layout-TtrMf, &.layout-TrMl {
      .medium {
        img, video {
          width: 100%;
          height: 100%;
          object-position: left center;
        }
      }
    // }
  }
  @media (max-width: 800px) {
    align-items: flex-start;
    position: relative;

    &.layout-Ml, &.layout-Mr {
      .slide-text {
        display: none;
      }
    }

    .slide-text {
      margin: 1rem;
      width: calc(100% - 2rem);
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 2;
    }
    // .media, .media .medium {
    // }
    .medium {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;

      img, video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}



.slide-text {
  padding: 2rem;
  width: 25rem;

  .text-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Baskervville', serif;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
  }
  .text-body {
    font-family: 'Lato';
    letter-spacing: 1px;
    white-space: pre-line;
    line-height: 1.5;
  }
}

.main-index {
  min-height: 100%;
  padding-bottom: 6rem;

  &:not(.is-loaded) {
    // .header {
    //   opacity: 0;
    // }
    .slideshows .slideshow {
      left: -15rem;
      opacity: 0;
    }
  }

  .slideshows {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem;

    .slideshow {
      display: block;
      margin: auto;
      margin-bottom: 1rem;
      max-width: 40rem;
      left: 0px;
      text-transform: lowercase;
      position: relative;
      background-color: #ffffff;
      margin-bottom: 1rem;
      transition: opacity 0.5s, left 0.5s;
      position: relative;

      //border-radius
      $borderRadius: 15px;
      border-radius: $borderRadius;
      .thumbnail { border-top-left-radius: $borderRadius; border-top-right-radius: $borderRadius; }
      .slideshow-title { border-bottom-left-radius: $borderRadius; border-bottom-right-radius: $borderRadius;}

      @media (min-device-width: 720px) {
        &:hover {
          .slideshow-title {
            text-decoration: underline;
          }
        }
      }
      @media (max-width: 720px) {
        width: 100%;
      }
      @media (min-width: 721px) {

      }

      .thumbnail {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 60vw;
        max-height: 26rem;
      }

      .slideshow-title {
        transition: opacity 0.2s;
        font-size: 1.5em;
        background-color: black;
        color: white;
        padding-top: 0.8rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        font-weight: bold;
        font-family: 'Baskervville', serif;
      }
    }
  }
}
